.activity-holder {
	width: 800px;
	display: flex;
	flex-direction: horizontal;
}

.activity-item {
	width: 150px;
	height: 250px;
	text-align: center;
	margin-left: 10px;
}

.activity-item:hover {
	background-color: rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.activity-thumb {
	width: 100%;
}

.activity-title {
	font-weight: bold;
	font-size: 10pt;
}

.activity-reward {
	font-size: 10pt;
}