html, body {
	height: 100%;
	width: 100%;
}

#body-container {
	min-height: 100%;
	position: relative;
}

#main {
	padding-bottom: 222px;   /* Height of the footer */
}

.dummy-page {
	text-align: center;
	position: relative;
	padding-top: 100px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}