<!-- <div class="dummy-page">
	<h1>Careful!</h1>
	<h5>This is a dummy page. It hasn't been implemented yet.</h5>
</div> -->
<h2 class="pt-5 text-center">Fresh Activities</h2>

<div class="activity-holder container">
	<div class="activity-item mt-4"
		ng-repeat="activity in fresh_activities" 
		ng-click="onActivityClicked($event, $index, activity)">

		<img class="activity-thumb mr-3" src="../assets/img/64x64.svg" alt="Generic placeholder image">
		<div class="activity-title">
			{{activity.title}}
		</div>
		<div class="activity-reward">
			Reward: {{activity.reward}}
		</div>
	</div>
</div>

<h2 class="mt-5 container text-center">Upcoming Activities</h2>

<div class="activity-holder container mb-5">
	<div class="activity-item mt-4"
		ng-repeat="activity in upcoming_activities" 
		ng-click="onActivityClicked($event, $index, activity)">

		<img class="activity-thumb mr-3" src="../assets/img/64x64.svg" alt="Generic placeholder image">
		<div class="activity-title">
			{{activity.title}}
		</div>
		<div class="activity-reward">
			Reward: {{activity.reward}}
		</div>
	</div>
</div>