<!-- <div class="dummy-page">
	<h1>Careful!</h1>
	<h5>This is a dummy page. It hasn't been implemented yet.</h5>
</div> -->
<h2>Fresh Activities</h2>
<div class="media mt-4"
	ng-repeat="activity in fresh_activities" 
	ng-click="onActivityClicked($event, $index)">

	<img class="mr-3" src="../assets/img/64x64.svg" alt="Generic placeholder image">
	<div class="media-body">
		<h4 class="mt-0">{{activity.title}}</h4>
		{{activity.description}}
	</div>

	<div class="">
	Reward: {{activity.reward}}
	</div>
</div>

<h2 class="mt-5">Upcoming Activities</h2>
<div class="media mt-4"
	ng-repeat="activity in upcoming_activities" 
	ng-click="onActivityClicked($event, $index)">

	<img class="mr-3" src="../assets/img/64x64.svg" alt="Generic placeholder image">
	<div class="media-body">
		<h4 class="mt-0">{{activity.title}}</h4>
		{{activity.description}}
	</div>

	<div class="">
	Reward: {{activity.reward}}
	</div>
</div>